.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.Rproj
/junk/*
/_bookdown_files/*
*.log
anzsauth/
old_book_files/
*_cache/
*_files/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.out
*.run.xml
*.synctex.gz
.directory
